<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Practice Test Automation Suite" parallel="false">
    <listeners>
        <listener class-name="tests.listeners.ExtentTestListener"/>
    </listeners>
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.RestAssuredApiTest"/>
        </classes>
    </test>
</suite>
